---
import Card from "@components/Card.astro";
import DefaultPage from "@layouts/DefaultPage.astro";
import CTAButton from "@components/CTAButton.astro";
import Testimonial from "@components/Testimonial.astro";
import type { ITestimonial } from "@components/Testimonial.astro";

const articles: ITestimonial[] = [
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Rodrigo Soares",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Laís Santana",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Danilo Ferreira",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Jessica Garcia",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Vinicius Silva",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
];
---

<DefaultPage title="Manutenção" description="">
  <div class="bg-maintenance divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>Manutenção</h1>
        <p>
          Oferecemos serviços especializados de manutenção para notebooks e computadores, incluindo diagnóstico de problemas, reparos em hardware e software, limpeza interna e externa, atualizações de software e hardware, além de backup de dados. Nossa equipe de técnicos altamente qualificados está pronta para garantir que seus dispositivos de informática estejam sempre funcionando corretamente e com o máximo desempenho. Entre em contato conosco hoje mesmo para agendar uma consulta de manutenção.
        </p>
      </div>
    </header>
  </div>

  <!-- Seção dos cards -->
  <section class="container p-5 js">
    <h2 class="text-center pb-5 text-blue-dark text-uppercase js-scroll">
      Esses são os nossos serviços
    </h2>
    <div class="row mt-2 section-cards">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 js-scroll">
        <Card
          icon="/icons/operational-system.svg"
          title="Sistema Operacional"
          description="Reinstalação e Configuração do Sistema, Correção de erros, Atualização, Restauração, Otimização para mais eficiência e performance."
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 js-scroll">
        <Card
          icon="/icons/clean.svg"
          title="Higienização"
          description="Limpeza interna e externa do seu equipamento. Esse procedimento é muito importante para manter o bomfuncionamento e aumentar a vida útil."
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 js-scroll">
        <Card
          icon="/icons/motherboard.svg"
          title="Reparo de Placa Mãe"
          description="Temos um laboratório completo, equipe especializada, e utilizamos as melhores técnicas do mercado para reparar a placa mãe do seu notebook ou Desktop."
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 js-scroll">
        <Card
          icon="/icons/component.svg"
          title="Troca de Peças"
          description="Telas, memórias, HDs, Placas de Vídeo, Processadores, Baterias, Teclados, Coolers, e demais peças com as melhores soluções."
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 js-scroll">
        <Card
          icon="/icons/support.svg"
          title="Consultoria e Suporte Remoto"
          description="Podemos te auxiliar na compra do seu equipamento, te ajudando a tomar a melhor decisão. Também fornecemos assistência remota, sem precisar ir até o equipamento."
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 js-scroll">
        <Card
          icon="/icons/maintenance.svg"
          title="Reparo de Carcaça"
          description="É bem comum a carcaça do notebook apresentar problemas ao longo do tempo, mas somos especialistas nesse tipo de defeito e podemos fazer a recuperação."
        />
      </div>
    </div>
  </section>

  <!-- Vídeo falando sobre o serviço de manutenção; -->
  <section class="bg-dark text-white section-config js">
    <div class="container js-scroll">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 class="text-uppercase">Como a manutenção é feita</h2>
          <p class="text-light">
            Nosso serviço de manutenção de computadores e notebooks é realizado com muito zelo e cuidado, visando sempre a qualidade e segurança do seu equipamento. Utilizamos técnicas avançadas e equipamentos de última geração para realizar as manutenções, garantindo o melhor resultado possível. Confie em nossa equipe e tenha a certeza de um serviço feito com qualidade e dedicação.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-21by9">
            <iframe
              class="shadow-light w-100"
              height="350"
              src="https://www.youtube.com/embed/bPexdxAGU4w"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-10 mx-auto mt-5">
          <CTAButton text={'Olá! Vim através do site e gostaria de saber mais sobre o processo de manutenção.'} />
        </div>
      </div>
      </div>
  </section>

  <!--  TESTIMONIALS -->
  <section class="section-config bg-ibw js">
    <div class="container js-scroll">
      <Testimonial testimonials={articles} />
    </div>
  </section>
</DefaultPage>

