---
import DefaultPage from "@layouts/DefaultPage.astro";
import CTAButton from "@components/CTAButton.astro";
---

<DefaultPage title="Nossos produtos" description="">
  <div class="bg-shop divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>Nossos produtos</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus,
          fuga, dolorem modi dolores odit neque blanditiis ex tenetur
          necessitatibus, cumque facilis. Quam molestiae provident excepturi,
          mollitia iure laborum architecto dolorum?
        </p>
      </div>
    </header>
  </div>

  <!-- Todos os artigos; -->
  <section class="section-products">
    <!-- Computador -->
    <article>
      <img
        src="/images/products/computador.webp"
        height="400"
        alt="Computador"
      />
      <div class="text-content">
        <h1>Computador</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 200 Vendas</span
          >
        </p>
        <div>
          <CTAButton title={"Comprar"} />
        </div>
      </div>
    </article>

    <!-- Memória -->
    <article>
      <img src="/images/products/memoria.webp" height="400" alt="" />

      <div class="text-content">
        <h1>Memória</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 200 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton title={"Comprar"} />
        </div>
      </div>
    </article>

    <!-- SSD -->
    <article>
      <img src="/images/products/ssd.webp" height="400" alt="" />

      <div class="text-content">
        <h1>SSD</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 200 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton title={"Comprar"} />
        </div>
      </div>
    </article>

    <!-- Mouse -->
    <article>
      <img src="/images/products/mouse.webp" width="400" alt="" />

      <div class="text-content">
        <h1>Mouse</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 200 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton title={"Comprar"} />
        </div>
      </div>
    </article>

    <!-- Teclado -->
    <article>
      <img
        src="/images/products/teclado.webp"
        width="400"
        height="400"
        alt=""
      />

      <div class="text-content">
        <h1>Teclado</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 200 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton title={"Comprar"} />
        </div>
      </div>
    </article>
  </section>

  <!-- QUANTITY SERVICES -->
  <section class="section-config bg-ibw">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="text-white text-center">
            Temos mais produtos à venda, venha conferir!
          </h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
          <CTAButton title={"Confira mais produtos"} />
        </div>
      </div>
    </div>
  </section>
</DefaultPage>

<style lang="scss">
  .section-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3em;

    article {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      padding: 3em;
      gap: 10em;

      .text-content {
        padding: 1em;
        width: 30%;

        h1 {
          color: #4c5688;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.7em;
        }

        p {
          color: #666;
        }
      }

      &:nth-child(even) {
        background-color: #ddd;
        flex-direction: row;
      }
    }
  }

  @media (max-width: 1000px) {
    .section-products {
      article {
        gap: 1em;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;

        img {
          margin: auto;
          max-width: 100%;
        }

        .text-content {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
</style>
