---
import DefaultPage from "@layouts/DefaultPage.astro";
import CTAButton from "@components/CTAButton.astro";
---

<DefaultPage title="Nossos produtos" description="">
  <div class="bg-shop divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>Nossos produtos</h1>
        <p>
          Oferecemos serviços de informática sob medida para atender às suas
          necessidades empresariais. Nossa equipe de especialistas em TI está
          preparada para oferecer suporte técnico, consultoria em TI,
          implantação de tecnologia e gerenciamento de rede para ajudá-lo a
          alcançar seus objetivos de negócios. Entre em contato conosco hoje
          mesmo para saber como podemos ajudá-lo a aproveitar ao máximo as suas
          soluções de TI.
        </p>
      </div>
    </header>
  </div>

  <!-- Todos os artigos; -->
  <section class="section-products">
    <!-- GAMER -->
    <article class="js">
      <img
        src="/images/products/desktop_gamer.webp"
        class="js-scroll"
        height="400"
        alt=""
      />

      <div class="text-content js-scroll">
        <h1>computadores Gamer</h1>
        <p>
          Tenha o computador dos seus sonhos para jogar seus games favoritos!
          Nossos computadores sob medida são projetados de acordo com as suas
          necessidades, com peças de alta qualidade para garantir o melhor
          desempenho. Adquira agora o seu e tenha uma experiência de jogo sem
          igual!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 20 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os teclados a venda."}
          />
        </div>
      </div>
    </article>
    <!-- Computador -->
    <article class="js">
      <img
        src="/images/products/desktop.webp"
        class="js-scroll"
        height="400"
        alt="Computador"
      />
      <div class="text-content js-scroll">
        <h1>Desktop</h1>
        <p>
          Com nossos computadores sob medida, você escolhe as especificações que
          melhor se adequam às suas demandas, desde o processador até o tamanho
          do disco rígido.Não perca mais tempo com computadores genéricos que
          não atendem às suas necessidades. Tenha um equipamento que realmente
          funciona para você!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 40 Vendas</span
          >
        </p>
        <div>
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os computadores a venda."}
          />
        </div>
      </div>
    </article>

    <!-- Memória -->
    <article class="js">
      <img
        src="/images/products/memoria.webp"
        class="js-scroll"
        height="400"
        alt=""
      />

      <div class="text-content js-scroll">
        <h1>Memória RAM</h1>
        <p>
          Aumente o desempenho do seu notebook ou computador com nossas memórias RAM de alta qualidade. Tenha mais agilidade na execução de tarefas e abertura de programas com rapidez e eficiência. Invista em um upgrade de memória RAM e melhore a experiência de uso do seu dispositivo!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 80 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre as memórias a venda."}
          />
        </div>
      </div>
    </article>

    <!-- SSD -->
    <article class="js">
      <img
        src="/images/products/ssd.webp"
        class="js-scroll"
        height="400"
        alt=""
      />

      <div class="text-content js-scroll">
        <h1>SSD</h1>
        <p>
          Atualize o armazenamento do seu computador com nossos SSDs de alta
          velocidade e tenha um desempenho surpreendente. Acesse arquivos e
          programas em segundos, sem perder tempo com carregamentos demorados.
          Invista em um SSD e sinta a diferença na performance do seu
          dispositivo!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 80 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os SSD a venda."}
          />
        </div>
      </div>
    </article>

    <!-- Mouse -->
    <article class="js">
      <img src="/images/products/mouse.webp" width="400" alt="" />

      <div class="text-content js-scroll">
        <h1>Mouse</h1>
        <p>
          Melhore a sua experiência de uso do computador com os nossos mouses de
          alta qualidade e precisão. Navegue pela internet, jogue seus jogos
          favoritos e execute tarefas do dia-a-dia com mais facilidade e
          agilidade. Escolha um dos nossos modelos e tenha o melhor desempenho
          em suas atividades!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 80 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os mouses a venda."}
          />
        </div>
      </div>
    </article>

    <!-- Teclado -->
    <article class="js">
      <img
        src="/images/products/teclado.webp"
        width="400"
        class="js-scroll"
        height="400"
        alt=""
      />

      <div class="text-content js-scroll">
        <h1>Teclado</h1>
        <p>
          Maximize a sua produtividade com os nossos teclados de alta qualidade
          e conforto. Com teclas macias e silenciosas, você poderá digitar por
          horas sem cansar as mãos. Escolha um dos nossos modelos e tenha uma
          experiência de digitação incrível!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 70 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os teclados a venda."}
          />
        </div>
      </div>
    </article>

    <!-- Peças para notebooks -->
    <article class="js">
      <img
        src="/images/products/notebook_peca.webp"
        width="400"
        class="js-scroll"
        height="400"
        alt=""
      />

      <div class="text-content js-scroll">
        <h1>Peças para notebooks</h1>
        <p>
          Aqui você encontra todas as peças que precisa para renovar o seu
          notebook!Temos baterias, telas, teclados, placas-mãe e muito mais,
          tudo com alta qualidade e garantia. Aproveite agora e adquira as peças
          que precisa para uma renovação completa!
        </p>
        <p class="pt-3 pb-3">
          <span class="border border-muted p-2 text-muted"
            >Mais de 200 Vendas</span
          >
        </p>
        <div class="d-block">
          <CTAButton
            title={"Comprar"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os teclados a venda."}
          />
        </div>
      </div>
    </article>
  </section>

  <!-- QUANTITY SERVICES -->
  <section class="section-config bg-ibw js">
    <div class="container js-scroll">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="text-white text-center">
            Temos mais produtos à venda, venha conferir!
          </h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
          <CTAButton
            title={"Confira mais produtos"}
            text={"Olá! Vim através do site e gostaria de saber mais sobre os produtos a venda."}
          />
        </div>
      </div>
    </div>
  </section>
</DefaultPage>

<style lang="scss">
  .section-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3em;

    article {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      padding: 3em;
      gap: 10em;

      .text-content {
        padding: 1em;
        width: 30%;

        h1 {
          color: #4c5688;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.7em;
        }

        p {
          color: #666;
        }
      }

      &:nth-child(even) {
        background-color: #ebebeb;
        flex-direction: row;
      }
    }
  }

  @media (max-width: 1000px) {
    .section-products {
      article {
        gap: 1em;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;

        img {
          margin: auto;
          max-width: 100%;
        }

        .text-content {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
</style>
