---
import DefaultPage from "@layouts/DefaultPage.astro";
---

<DefaultPage title="Soluções Empresariais" description="">
  <div class="bg-business divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>Soluções empresariais</h1>
        <p>
          A nossa loja de informática oferece uma grande variedade de produtos de alta qualidade para atender às suas necessidades. Desde desktops de última geração até periféricos e acessórios de tecnologia de ponta, nós temos tudo o que você precisa para equipar o seu escritório ou para uso pessoal. Visite-nos hoje mesmo e encontre o produto certo para você!
        </p>
      </div>
    </header>
  </div>

  <!-- Todos os artigos; -->
  <section class="container space js">
    <!-- Rede -->
    <article class="p-3 row align-items-center justify-content-around js-scroll">
      <img
        src="/icons/rede.svg"
        height="400"
        class="order-lg-1 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-2 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Rede</h1>
        <p>
          Oferecemos serviços de redes de computadores e cabeamento estruturado para garantir a <mark>conectividade</mark> e o <mark>desempenho máximo</mark> da sua empresa. Nossa equipe de especialistas em TI pode ajudá-lo a configurar e manter uma rede confiável e segura para seus negócios. Entre em contato conosco hoje mesmo para saber mais sobre nossos serviços de Infraestrutura de redes e cabeamento.
        </p>
      </div>
    </article>

    <!-- CFTV -->
    <article class="p-3 row align-items-center justify-content-around js-scroll">
      <img
        src="/icons/vigilancia.svg"
        height="400"
        class="order-lg-2 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-1 col-lg-4 col-sm-12">
        <h1 class="text-ibw">CFTV</h1>
        <p>
          Nós oferecemos serviços de CFTV (Circuito Fechado de Televisão) para garantir a <mark>segurança</mark> e <mark>proteção</mark> do seu negócio. Com soluções personalizadas de monitoramento por câmeras, nossos especialistas em segurança podem ajudá-lo a proteger suas instalações e equipamentos contra riscos externos e internos.
        </p>
      </div>
    </article>

    <!-- CFTV -->
    <article class="p-3 row align-items-center justify-content-around js-scroll">
      <img
        src="/icons/alarme.svg"
        height="400"
        class="order-lg-1 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-2 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Alarme</h1>
        <p>
          Oferecemos serviços de alarme de segurança para proteger o seu negócio contra invasões e riscos. Com soluções personalizadas de acionamento de alarmes, nossa equipe de especialistas em segurança pode ajudá-lo a garantir a <mark>proteção</mark> de seus bens e instalações.
        </p>
      </div>
    </article>

    <!-- Interfonia -->
    <article class="p-3 row align-items-center justify-content-around js-scroll">
      <img
        src="/icons/interfone.svg"
        width="400"
        class="order-lg-2 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-1 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Interfonia</h1>
        <p>
          Oferecemos serviços de interfonia para proporcionar maior <mark>comodidade</mark> e <mark>segurança</mark> em sua empresa, condomínio ou residência. Com soluções personalizadas de intercomunicação, nossa equipe de especialistas pode ajudá-lo a configurar e manter um sistema de comunicação eficiente.
        </p>
      </div>
    </article>

    <!-- Controle de acesso -->
    <article class="p-3 row align-items-center justify-content-around js-scroll">
      <img
        src="/icons/acesso.svg"
        width="400"
        height="400"
        class="order-lg-1 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-2 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Controle de acesso</h1>
        <p>
          Oferecemos serviços de controle de acesso para garantir a <mark>segurança</mark> de suas instalações e equipamentos. Com soluções personalizadas de controle de acesso, te ajudamos a  garantir que apenas as pessoas autorizadas tenham acesso a áreas restritas.
        </p>
      </div>
    </article>
  </section>
</DefaultPage>
