---
import DefaultPage from "@layouts/DefaultPage.astro";
---

<DefaultPage title="Soluções Empresariais" description="">
  <div class="bg-business divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>Soluções empresariais</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus,
          fuga, dolorem modi dolores odit neque blanditiis ex tenetur
          necessitatibus, cumque facilis. Quam molestiae provident excepturi,
          mollitia iure laborum architecto dolorum?
        </p>
      </div>
    </header>
  </div>

  <!-- Todos os artigos; -->
  <section class="container space">
    <!-- Rede -->
    <article class="p-3 row align-items-center justify-content-around">
      <img
        src="/icons/rede.svg"
        height="400"
        class="order-lg-1 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-2 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Rede</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
      </div>
    </article>

    <!-- CFTV -->
    <article class="p-3 row align-items-center justify-content-around">
      <img
        src="/icons/vigilancia.svg"
        height="400"
        class="order-lg-2 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-1 col-lg-4 col-sm-12">
        <h1 class="text-ibw">CFTV</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
      </div>
    </article>

    <!-- CFTV -->
    <article class="p-3 row align-items-center justify-content-around">
      <img
        src="/icons/alarme.svg"
        height="400"
        class="order-lg-1 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-2 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Alarme</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
      </div>
    </article>

    <!-- Interfonia -->
    <article class="p-3 row align-items-center justify-content-around">
      <img
        src="/icons/interfone.svg"
        width="400"
        class="order-lg-2 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-1 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Interfonia</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
      </div>
    </article>

    <!-- Controle de acesso -->
    <article class="p-3 row align-items-center justify-content-around">
      <img
        src="/icons/acesso.svg"
        width="400"
        height="400"
        class="order-lg-1 mg-fluid col-lg-6 col-md-8 col-sm-12 mb-5"
        alt=""
      />
      <div class="order-lg-2 col-lg-4 col-sm-12">
        <h1 class="text-ibw">Controle de acesso</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero? Et officia vitae facilis veritatis soluta doloremque aliquam
          nemo. In doloremque esse minima! Magnam modi sit ipsum corporis facere
          libero?
        </p>
      </div>
    </article>
  </section>
</DefaultPage>
