---
import DefaultPage from "@layouts/DefaultPage.astro";
---

<DefaultPage title="Soluções Empresariais" description="">
  <div class="bg-business divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>Soluções empresariais</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus,
          fuga, dolorem modi dolores odit neque blanditiis ex tenetur
          necessitatibus, cumque facilis. Quam molestiae provident excepturi,
          mollitia iure laborum architecto dolorum?
        </p>
      </div>
    </header>
  </div>

  <!-- Todos os artigos; -->
  <section class="container space">
      <!-- Rede -->
      <article class="row align-items-center justify-content-around">
        <figure class="order-sm-1 col-4">
          <img src="/icons/rede.svg" height="400" alt="" />
        </figure>

        <div class="order-sm-2 col-4">
          <h1 class="text-ibw">Rede</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
            libero? Et officia vitae facilis veritatis soluta doloremque aliquam
            nemo. In doloremque esse minima! Magnam modi sit ipsum corporis
            facere libero?
          </p>
        </div>
      </article>

      <!-- CFTV -->
      <article class="row align-items-center justify-content-around">
        <figure class="order-sm-2 col-4">
          <img src="/icons/vigilancia.svg" height="400" alt="" />
        </figure>

        <div class="order-sm-1 col-4">
          <h1 class="text-ibw">CFTV</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
            libero? Et officia vitae facilis veritatis soluta doloremque aliquam
            nemo. In doloremque esse minima! Magnam modi sit ipsum corporis
            facere libero?
          </p>
        </div>
      </article>

      <!-- CFTV -->
      <article class="row align-items-center justify-content-around">
        <figure class="order-sm-1 col-4">
          <img src="/icons/alarme.svg" height="400" alt="" />
        </figure>

        <div class="order-sm-2 col-4">
          <h1 class="text-ibw">Alarme</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
            libero? Et officia vitae facilis veritatis soluta doloremque aliquam
            nemo. In doloremque esse minima! Magnam modi sit ipsum corporis
            facere libero?
          </p>
        </div>
      </article>

      <!-- Interfonia -->
      <article class="row align-items-center justify-content-around">
        <figure class="order-sm-2 col-4">
          <img src="/icons/interfone.svg" width="400" alt="" />
        </figure>

        <div class="order-sm-1 col-4">
          <h1 class="text-ibw">Interfonia</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
            libero? Et officia vitae facilis veritatis soluta doloremque aliquam
            nemo. In doloremque esse minima! Magnam modi sit ipsum corporis
            facere libero?
          </p>
        </div>
      </article>

      <!-- Controle de acesso -->
      <article class="row align-items-center justify-content-around">
        <figure class="order-sm-1 col-4">
          <img src="/icons/acesso.svg" width="400" height="400" alt="" />
        </figure>

        <div class="order-sm-2 col-4">
          <h1 class="text-ibw">Controle de acesso</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
            libero? Et officia vitae facilis veritatis soluta doloremque aliquam
            nemo. In doloremque esse minima! Magnam modi sit ipsum corporis
            facere libero?
          </p>
        </div>
      </article>
  </section>
</DefaultPage>
