---
import DefaultPage from "@layouts/DefaultPage.astro";
import Testimonial from "@components/Testimonial.astro";
import type { ITestimonial } from "@components/Testimonial.astro";

const articles: ITestimonial[] = [
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Rodrigo Soares",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Laís Santana",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Danilo Ferreira",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Jessica Garcia",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
  {
    photoUrl:
      "https://web.archive.org/web/20230111031759im_/https://thispersondoesnotexist.com/image",
    author: "Vinicius Silva",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quo, ad iusto corporis neque tempora voluptate perspiciatis adipisci laboriosam. Deleniti temporibus iure voluptates quae modi laboriosam quibusdam amet reprehenderit esse.",
  },
];

---

<DefaultPage title="FAQ" description="">
  <div class="bg-question divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>FAQ</h1>
        <p>
          Confira abaixo as perguntas frequentes sobre nossos serviços de manutenção de notebooks e computadores. Se você ainda tiver dúvidas, não hesite em entrar em contato conosco.
        </p>
      </div>
    </header>
  </div>

  <!-- Todas as perguntas -->
  <section class="js container faq p-5" id="faq">
    <dl class="faq-lista js-accordion js-scroll">
      <dt>Quanto tempo leva para reparar meu notebook ou computador?</dt>
      <dd>
        O tempo necessário para reparar seu notebook ou computador pode variar dependendo da complexidade do problema e do tipo de serviço necessário. Geralmente, a maioria dos reparos levam entre <b>1 a 5 dias úteis</b>.
      </dd>
      <dt>Qual é a política de garantia dos seus produtos?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?
      </dd>
      <dt>
        Vocês realizam reparos em computadores e notebooks de outras marcas?
      </dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>Quais são os tipos de acessórios que vocês vendem?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>Vocês oferecem soluções de segurança cibernética para empresas?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>
        Quais são as opções de pagamento disponíveis para os produtos e
        serviços?
      </dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>Quanto tempo leva para consertar um computador ou notebook?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>Vocês oferecem serviços de backup e recuperação de dados?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>
        Como faço para solicitar uma cotação para uma solução personalizada para
        a minha empresa?
      </dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
      <dt>
        Vocês oferecem treinamento e suporte técnico para as soluções vendidas?
      </dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        rerum non possimus nulla ducimus quod ratione commodi esse earum facilis
        quas amet sed, quis blanditiis voluptatum corporis labore distinctio
        magni?.
      </dd>
    </dl>
  </section>

  <!--  TESTIMONIALS -->
  <section class="section-config bg-ibw js">
    <div class="container js-scroll">
      <Testimonial testimonials={articles} />
    </div>
  </section>
</DefaultPage>

<style lang="scss">
  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      max-height: 100px;
      opacity: 1;
    }
  }
  .faq-lista {
    display: grid;
    grid-column: 2 / 4;
    dt {
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      color: #4c5688;
      font-size: 1.3em;
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: #4c5688;
      }
    }
    dd {
      margin-bottom: 0.5rem;
      margin-left: 30px;
    }
  }
  .js {
    .js-accordion {
      dd {
        display: none;
      }
    }
  }
  .js-accordion {
    dt {
      cursor: pointer;
      &::after {
        content: "⤵";
        margin-left: 10px;
      }
    }
    dt.active {
      &::after {
        content: "⤴";
      }
    }
    dd.active {
      display: block;
      animation: slideDown .5s both;
    }
  }
</style>

<script>
  const accordionList = document.querySelectorAll(".js-accordion dt");

  const classActive = "active";
  if (accordionList.length) {
    accordionList[0].classList.add(classActive);
    accordionList[0].nextElementSibling?.classList.add(classActive);

    function activeAccordion(e: any) {
      e.target.classList.toggle(classActive);
      e.target.nextElementSibling.classList.toggle(classActive);
    }

    accordionList.forEach((item) => {
      item.addEventListener("click", activeAccordion);
    });
  }
</script>
