---
import DefaultPage from "@layouts/DefaultPage.astro";
import Card from "@components/Card.astro";
import Companies from "@components/Companies.astro";
import CTAButton from "@components/CTAButton.astro";
import Testimonial from "@components/Testimonial.astro";
---

<DefaultPage title="Multi tecnologia" description="">
  <div class="bg-masterhead divider">
    <header class="bg-blur-dark header-config">
      <div class="text-content">
        <h1>IBW TECNOLOGIA</h1>
        <p>Multi Assistência</p>
        <a href="#services" class="btn btn-ibw bg-ibw btn-xl text-uppercase p-3"
          >Conheça os Nossos Serviços</a
        >
      </div>
    </header>
  </div>
  <!-- SERVICES -->
  <section class="section-config" id="services">
    <div class="container">
      <div class="title-config">
        <h1>Serviços</h1>
        <p>Clique em <mark>Saiba mais</mark> para obter mais detalhes.</p>
      </div>

      <div class="row m-2 js">
        <div class="col-lg-4 col-sm-12 mb-5 js-scroll">
          <Card
            icon="/icons/maintenance.svg"
            title="Manutenção"
            description="Somos especialistas em manutenção de notebooks e computadores. Temos um laboratório completo para reparação do seu equipamento."
            buttonCTA="Saiba mais"
            buttonLink={"/servicos/manutencao"}
          />
        </div>
        <div class="col-lg-4 col-sm-12 mb-5 js-scroll">
          <Card
            icon="/icons/business.svg"
            title="Soluções empresariais"
            description="Oferecemos soluções de T.I para empresas. Dentre as soluções estão: Redes, CFTV, Alarmes, Interfonia e Controle de Acesso."
            buttonCTA="Saiba mais"
            buttonLink={"/servicos/solucoes-empresariais"}
          />
        </div>
        <div class="col-lg-4 col-sm-12 mb-5 js-scroll">
          <Card
            icon="/icons/sale.svg"
            title="Vendas"
            description="Compre computadores e itens de informática na IBW. Pc Gamers, memórias, SSD, mouses, teclados e muito mais."
            buttonCTA="Saiba mais"
            buttonLink={"/servicos/produtos"}
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class="section-config bg-blue-dark align-items-center justify-content-around video-presentation"
  >
    <div class="text-purple">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="text-center text-uppercase">
            Veja um pouco como a <mark>IBW</mark> trabalha
          </h1>
        </div>
        <div class="container">
          <div class="row mx-auto js">
            <iframe
              class="shadow-light col-lg-3 col-sm-12 mb-5 p-0 js-scroll"
              src="https://www.youtube.com/embed/bPexdxAGU4w"
              title="YouTube video player"
              height="300px"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
            <iframe
              class="shadow-light col-lg-3 col-sm-12 mb-5 p-0 js-scroll"
              src="https://www.youtube.com/embed/B_mzPAM3IS8"
              height="300px"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
            <iframe
              class="shadow-light col-lg-3 col-sm-12 mb-5 p-0 js-scroll"
              height="300px"
              src="https://www.youtube.com/embed/Fi_f0KZACho"
              title="YouTube video player"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- QUANTITY SERVICES -->
  <section class="section-config bg-dark section-quantity-services">
    <div class="container">
      <div class="row text-secondary js">
        <div
          class="col-lg-3 col-sm-12 mb-5 m-1 p-3 mx-auto shadow-light border-top border-white js-scroll js-counter"
        >
          <h2 data-from="0" data-to="1000"></h2>
          <p class="text-white">Clientes atendidos</p>
        </div>
        <div
          class="col-lg-3 col-sm-12 mb-5 m-1 p-3 mx-auto shadow-light border-top border-warning js-scroll js-counter"
        >
          <h2 data-from="0" data-to="210"></h2>
          <p class="text-warning">Avaliações</p>
        </div>
        <div
          class="col-lg-3 col-sm-12 mb-5 m-1 p-3 mx-auto shadow-light border-top border-danger js-scroll js-counter"
        >
          <h2 data-from="0" data-to="300"></h2>
          <p class="text-danger">Produtos vendidos</p>
        </div>
      </div>
      <div class="row mt-5 js">
        <div class="col-sm-12 col-lg-3 mx-auto js-scroll">
          <CTAButton />
        </div>
      </div>
    </div>
  </section>

  <!-- Endereço -->
  <div class="bg-map js">
    <section class="container section-address js-scroll">
      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.2049053482374!2d-38.32468588464969!3d-12.894541890906499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71617a43c76563b%3A0xec53d5369ff3f53f!2sIBW%20TECNOLOGIA%20-%20Assist%C3%AAncia%20T%C3%A9cnica%20Especializada%20em%20Manuten%C3%A7%C3%A3o%20de%20Computadores%20e%20Notebooks.!5e0!3m2!1spt-BR!2sbr!4v1677886480740!5m2!1spt-BR!2sbr"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="col-lg-5 col-sm-12 mb-5 border border-muted p-0 shadow-light"
        >
        </iframe>
        <dl class="col-lg-5 col-sm-12 mb-5 shadow-light">
          <dt>Contatos</dt>
          <dd>
            <ul>
              <li>
                <span>Email:</span>
                <a
                  href="mailto:contato@ibwtecnologia.com.br"
                  aria-label="Email"
                  title="Email"
                  >contato@ibwtecnologia.com.br
                </a>
              </li>
              <li>
                <span>Celular:</span>
                <a
                  href="tel:+5571987465932"
                  aria-label="Telefone"
                  title="Telefone"
                  >(71) 98746-5932
                </a>
              </li>
            </ul>
          </dd>
          <dt>Horários de Funcionamento</dt>
          <dd>
            <ul>
              <li><span>Segunda a sexta:</span> 9hrs - 17hrs</li>
              <li><span>Sábado:</span> 8hrs - 12hrs</li>
            </ul>
          </dd>
          <dt>Instruções</dt>
          <dd>
            <ul>
              <li>Ligue ou mande mensagem com antecedência</li>
              <li>
                Ao trazer seu notebook ou computador para a manutenção, descreva
                o problema com o máximo de detalhes possível. Isso ajuda o
                técnico a entender o que está acontecendo e a encontrar uma
                solução mais <mark>eficiente</mark>. Tente ser o mais específico
                possível sobre quando o problema ocorre, quais aplicativos você
                estava usando, quais mensagens de erro aparecem, entre outros
                detalhes relevantes.
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </section>
  </div>

  <!-- TESTIMONIALS -->
  <section class="section-config bg-ibw js">
    <div class="container js-scroll">
      <Testimonial />
    </div>
  </section>
  <!-- COMPANY BRANDS -->
  <Companies />
</DefaultPage>

<style lang="scss">
  .bg-map {
    background-image: url("/images/map-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
  }
  .section-address {
    padding: 2em;

    dl {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px 10px;
      padding: 2em;
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.465);
      border-radius: 5px;
      dt {
        font-size: 1.3em;
        text-transform: uppercase;
        color: #4c5688;

        &:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 10px;
          margin-right: 10px;
          background: #4c5688;
        }
      }
      dd {
        color: white;
        span {
          font-weight: bold;
        }

        li {
          list-style: square;
        }
      }
    }
  }
</style>

<script>
  function counterNumber() {
    const numberCounted = document.querySelectorAll(".js-counter h2");
    numberCounted.forEach((counter: any) => {
      const numberFrom = Number(counter.dataset.from);
      const numberTo = Number(counter.dataset.to);

      let currentNumber = numberFrom;
      counter.innerHTML = currentNumber.toString() + "+";

      const timeCounter = numberTo > 300 ? 0 : 13;

      const interval = setInterval(() => {
        if (currentNumber < numberTo) {
          currentNumber++;
          counter.innerHTML = currentNumber.toString() + "+";
        } else {
          clearInterval(interval);
        }
      }, timeCounter);
    });
  }

  function scrollAnimated() {
    const sectionCounter = document.querySelector(".section-quantity-services");

    const myTop = sectionCounter!.getBoundingClientRect().top;

    if (myTop < 600) {
      counterNumber();
      window.removeEventListener("scroll", scrollAnimated);
    }
  }

  scrollAnimated();

  window.addEventListener("scroll", scrollAnimated);
</script>
