<section class="brands section-config bg-white">
  <ul class="container-fluid">
    <li><img src="/images/brands/avell.png" src="avell" width="100" /></li>
    <li><img src="/images/brands/vaio.png" src="vaio" width="100" /></li>
    <li>
      <img src="/images/brands/lenovo.png" src="lenovo" width="150" />
    </li>
    <li>
      <img src="/images/brands/samsung.png" src="samsung" width="100" />
    </li>
    <li><img src="/images/brands/lg.png" src="lg" width="100" /></li>
    <li><img src="/images/brands/dell.png" src="dell" width="70" /></li>
    <li><img src="/images/brands/apple.png" src="apple" width="100" /></li>
    <li><img src="/images/brands/asus.png" src="asus" width="100" /></li>
    <li><img src="/images/brands/hp.png" src="hp" width="100" /></li>
    <li>
      <img src="/images/brands/positivo.png" src="positivo" width="100" />
    </li>
  </ul>
</section>


<style lang="scss">
  .brands {
    ul {
      display: inline-flex;
      align-items: center;
      gap: 5%;
      justify-items: center;
      overflow-x: auto;

      li {
        list-style: none;
        img {
          filter: grayscale(1);
        }
      }
    }
  }
</style>
