---
import Whatsapp from "@assets/icons/Whatsapp.astro";
---

<a class="cta btn btn-success text-uppercase p-2" href="#services">
    <Whatsapp />
    <span>Solicitar serviço</span>
</a>

<style>
    .cta {
        display: inline-flex;
        font-weight: bold;
        align-items: center;
        gap: 10px;
        position: relative;
    }
</style>