---
import Whatsapp from "@assets/icons/Whatsapp.astro";

interface Props {
  title?: string;
}

const { title = "Solicitar serviço" } = Astro.props;
---

<a class="cta btn btn-success text-uppercase p-2" href="#services">
    <Whatsapp />
    <span>{title}</span>
</a>

<style>
    .cta {
        display: inline-flex;
        width: 100%;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
    }
</style>
