---
import Head from "@components/Head.astro";
import type { Props } from "@components/Head.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import bootstrap from "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js?url";


const { title, description, image } = Astro.props as Props;
---

<html lang="pt-br">
  <Head title={title} description={description} image={image} />
  <body>
    <Navbar/>
    <slot />
    <Footer/>
  </body>
  <script src={bootstrap}></script>
</html>
